#side-info-column div.option-checkbox label.titledesc, #side-sortables div.option-checkbox label.titledesc
{ width: 140px}

.single_checkbox.tfuse_option {display: none}

.tf_meta_tabs .postbox .inside,
#tfuse_framework_options_metabox .inside,
.tfuse-postbox .inside {
    padding: 0 12px 12px;
}

#tfuse_fields .ui-state-default, #tfuse_fields .ui-widget-content .ui-state-default,
#tfuse_fields .ui-widget-header .ui-state-default,
.tfuse_fields .ui-state-default, .tfuse_fields .ui-widget-content .ui-state-default,
.tfuse_fields .ui-widget-header .ui-state-default{background:none}

#tfuse_fields .ui-tabs-selected, #tfuse_fields .ui-state-active, .tfuse_fields .ui-tabs-selected, .tfuse_fields .ui-state-active {
    border-width: 0;
}

#tfuse_fields .ui-tabs-selected a,
#tfuse_fields .ui-state-active a,
.tfuse_fields .ui-tabs-selected a,
.tfuse_fields .ui-state-active a {
    border-width: 1px;
    margin-bottom: -1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    outline:none;
}

#post-body .ui-tabs-selected a,
#post-body .ui-state-active a {
    outline:none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 1px;
}

.ui-state-default a, .ui-corner-top a {
    border-color: #CCC #CCCCCC #F2F1EF !important;
    border-style: solid;
    border-width: 0;
}

#tfuse_fields .ui-tabs-nav a, .tfuse_fields .ui-tabs-nav a {
    -webkit-transition-property:none;
    -moz-transition-property:none;
    transition-property:none;
    -webkit-transition-duration:none;
    -moz-transition-duration:none;
    transition-duration:0;
}

.upload_button_div .button {
    padding: 0px 14px;
}

.option-inner .desc a,
#tfuse_header_theme_links a {
    color: #0074a2;
}

.option-inner .desc a:hover, .option-inner .desc a:active,
#tfuse_header_theme_links a:hover {
    color: #2ea2cc;
}

/*temporar vedem cu culorile */
#tfuse_fields .ui-tabs-nav a:hover, .tfuse_fields .ui-tabs-nav a:hover, #post-body .ui-tabs-nav a:hover {
    color: #0074a2;
}

/* #2ea2cc */

#tfuse_framework_options_metabox h3.hndle,
#tfuse_framework_options_metabox .handlediv {
    display: none;
}

#post-body .ui-state-default, #post-body .ui-state-hover {background:none;background-color:#fff}

#tfuse_fields .titledesc, .tfuse_fields .titledesc, #post-body .titledesc, #side-info-column .titledesc {
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 16px;
    padding-top: 4px;
}
#tfuse_fields  div.tfclear.divider,
.tfuse_fields  div.tfclear.divider,
div.tfclear.divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

#post-body .ui-state-active a {border-width:0}
#side-info-column div.tfclear.divider {margin: 8px 0}
#tfuse_fields .desc, .tfuse_fields .desc, #post-body .desc, #side-info-column .desc {
    font-size:11px;
    font-style:italic;
    line-height: 14px;
    padding-top: 5px;
}

#post-body #side-sortables .option-inner {
    padding: 6px 10px;
}


.tf_meta_tabs .postbox .inside, #tfuse_framework_options_metabox .inside, .tfuse-postbox .inside {
    padding: 0;
}

#tfuse_framework_options_metabox .inside {
    margin-top: 10px;
}

#post-body #normal-sortables, #post-body #advanced-sortables{min-width:0}
#slider_frames{width:inherit;margin:0 10px 0px 0;padding:10px 10px 8px 0px}

/* for images alignement and other styles */
.menu-icon-generic div.wp-menu-image:before,
#menu-posts-portfolio div.wp-menu-image:before,
#menu-posts-service div.wp-menu-image:before,
#menu-posts-testimonials div.wp-menu-image:before,
#menu-posts-members div.wp-menu-image:before,
#menu-posts-vehicle div.wp-menu-image:before,
#menu-posts-faq div.wp-menu-image:before,
#menu-posts-event div.wp-menu-image:before,
#menu-posts-gallery div.wp-menu-image:before,
#menu-posts-resource div.wp-menu-image:before,
#menu-posts-staff div.wp-menu-image:before,
#menu-posts-announcement div.wp-menu-image:before,
#menu-posts-holiday div.wp-menu-image:before,
#menu-posts-work div.wp-menu-image:before,
#menu-posts-room div.wp-menu-image:before,
#menu-posts-testimonial div.wp-menu-image:before,
#menu-posts-activity div.wp-menu-image:before,
#menu-posts-promo div.wp-menu-image:before,
#menu-posts-album div.wp-menu-image:before,
#menu-posts-product div.wp-menu-image:before,
#menu-posts-date div.wp-menu-image:before,
#menu-posts-review div.wp-menu-image:before,
#menu-posts-feature div.wp-menu-image:before,
#menu-posts-services div.wp-menu-image:before,
#menu-posts-careers div.wp-menu-image:before,
#menu-posts-bridesmaids div.wp-menu-image:before,
#menu-posts-accommodation div.wp-menu-image:before,
#menu-posts-property div.wp-menu-image:before,
#menu-posts-cases div.wp-menu-image:before,
#menu-posts-sliders div.wp-menu-image:before,
#menu-posts-doctors div.wp-menu-image:before,
#menu-posts-rooms div.wp-menu-image:before
{
    display: none;
}
#toplevel_page_tf_contact_forms_list div.wp-menu-image,
#toplevel_page_tf_reservations_list div.wp-menu-image,
#toplevel_page_tf_slider_list div.wp-menu-image,
#menu-posts-testimonials div.wp-menu-image,
#menu-posts-rooms div.wp-menu-image,
#menu-posts-portfolio div.wp-menu-image,
#menu-posts-cases div.wp-menu-image,
#menu-posts-service div.wp-menu-image,
#menu-posts-members div.wp-menu-image,
#menu-posts-vehicle div.wp-menu-image,
#menu-posts-faq div.wp-menu-image,
#menu-posts-event div.wp-menu-image,
#menu-posts-gallery div.wp-menu-image,
#menu-posts-resource div.wp-menu-image,
#menu-posts-staff div.wp-menu-image,
#menu-posts-announcement div.wp-menu-image,
#menu-posts-holiday div.wp-menu-image,
#menu-posts-work div.wp-menu-image,
#menu-posts-room div.wp-menu-image,
#menu-posts-testimonial div.wp-menu-image,
#menu-posts-activity div.wp-menu-image,
#menu-posts-promo div.wp-menu-image,
#menu-posts-album div.wp-menu-image,
#menu-posts-product div.wp-menu-image,
#menu-posts-date div.wp-menu-image,
#menu-posts-review div.wp-menu-image,
#menu-posts-feature div.wp-menu-image,
#menu-posts-services div.wp-menu-image,
#menu-posts-careers div.wp-menu-image,
#menu-posts-bridesmaids div.wp-menu-image,
#menu-posts-accommodation div.wp-menu-image,
#menu-posts-property div.wp-menu-image,
#menu-posts-sliders div.wp-menu-image,
#menu-posts-doctors div.wp-menu-image
{
    margin-left: 5px;
    margin-top: 9px !important;
    width: 32px;
    height: 16px !important;
}
#menu-posts-holiday div.wp-menu-image, #menu-posts-holiday:hover div.wp-menu-image, #menu-posts-holiday.wp-has-current-submenu div.wp-menu-image{
    top: 0;
}
.add_to_placeholder, .sidebar_delete_button {
    margin: 15px 35px 0 6px;
    position: relative;
}
#save_changes_slide, #cancel_changes_slide {
    padding-top: 4px;
    padding-bottom: 4px;
}
#sidebars_cancel_changes{
    padding-top: 4px;
    padding-bottom: 6px;
}
#cf_save_form_button, #new_form_reset, #tf_cf_add_new, #tf_cf_prev_button, #rf_save_form_button, #tf_rf_add_new, #tf_rf_prev_button, #rf_save_messages_button, #messages_reset, #rf_save_dates_button, #rf_exclude_new_interval, #cf_save_messages_button, #tf_cf_save_gen_options, #gen_options_reset, #tf_rf_save_gen_options, #save_slider, #cancel_slider {
    padding: 0 10px 1px 10px !important;
}
#tf_cf_prev_button, #tf_rf_prev_button {
    margin-bottom: 10px;
}
#tfuse_fields .form_list_table input[type="checkbox"], #post-body input[type="checkbox"], #email-sending-options input[type="radio"],#tfuse_fields .slider_list_table input[type="checkbox"], #tfuse_fields .formcontainer input[type="checkbox"] {
    border: 1px solid #BBB;
    background: #FFF;
    color: #555;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#tfuse_fields #email-sending-options input[type="radio"] {
    width: 16px;
}
#media-upload .menu_order_input {
    padding: 0;
}
#media-upload p.search-box {
    float: right;
    margin: 0;
    position: relative;
    width: 260px;
    height: 26px;
}
#media-upload .search-box input[name="s"] {
    float: left;
    margin: 0 4px 0 0;
    width: 150px;
    height: 25px;
}
#media-upload .tablenav .tablenav-pages {
    width: 168px;
}
.closed .widget-holder {
    display: none;
}
.skipinstall input[name="skip_installation"]{
    color: #555;
    border-color: #CCC;
    background: #F7F7F7;
    -webkit-box-shadow: inset 0 1px 0 #FFF,0 1px 0 rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 #FFF,0 1px 0 rgba(0, 0, 0, 0.08);
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.skipinstall input[name="skip_installation"]:hover{
    border-color: #999;
}
#post-body .submitbox input[type="radio"]{
    border: 1px solid #ccc;
}

#tfuse_fields .tablenav a.button,
#tfuse_fields .tablenav a.button-secondary {
	display: inline-block;
	margin: 0;
}
