#menu-posts-feature div.wp-menu-image{background:url("http://www.eduardosan.com/wp-content/themes/gadgetry-parent/css/../images/icons/features_menu.png") no-repeat scroll 5px -16px transparent!important;height:16px;margin-top:5px !important;margin-left:2px}#menu-posts-feature:hover  div.wp-menu-image,
#menu-posts-feature.wp-has-current-submenu  div.wp-menu-image{background:url("http://www.eduardosan.com/wp-content/themes/gadgetry-parent/css/../images/icons/features_menu.png") no-repeat scroll 5px 0 transparent!important;height:16px}#toplevel_page_tf_contact_forms_list .wp-menu-image a
img{display:none}#toplevel_page_tf_contact_forms_list .wp-menu-image{background:url("http://www.eduardosan.com/wp-content/themes/gadgetry-parent/css/../images/icons/contact-forms.png") no-repeat scroll 5px -16px transparent!important;height:16px !important;margin-top:8px !important;margin-left:2px}#menu-posts-testimonials  div.wp-menu-image{background:url("http://www.eduardosan.com/wp-content/themes/gadgetry-parent/css/../images/icons/testimonials.png") no-repeat scroll 5px -16px transparent!important;height:16px;margin-top:6px !important;margin-left:2px}#toplevel_page_tf_contact_forms_list:hover  div.wp-menu-image,
#toplevel_page_tf_contact_forms_list.wp-has-current-submenu  div.wp-menu-image{background:url("http://www.eduardosan.com/wp-content/themes/gadgetry-parent/css/../images/icons/contact-forms.png") no-repeat scroll 5px 0 transparent!important;height:16px}#menu-posts-testimonials:hover  div.wp-menu-image,
#menu-posts-testimonials.wp-has-current-submenu  div.wp-menu-image{background:url("http://www.eduardosan.com/wp-content/themes/gadgetry-parent/css/../images/icons/testimonials.png") no-repeat scroll 5px 0 transparent!important;height:16px}#toplevel_page_tf_slider_list  div.wp-menu-image a
img{display:none}#toplevel_page_tf_slider_list  div.wp-menu-image{background:url("http://www.eduardosan.com/wp-content/themes/gadgetry-parent/css/../images/icons/sliders.png") no-repeat scroll 5px -16px transparent!important;height:16px;margin-top:5px !important;margin-left:2px}#toplevel_page_tf_slider_list:hover  div.wp-menu-image,
#toplevel_page_tf_slider_list.wp-has-current-submenu  div.wp-menu-image{background:url("http://www.eduardosan.com/wp-content/themes/gadgetry-parent/css/../images/icons/sliders.png") no-repeat scroll 5px 0 transparent!important;height:16px}#toplevel_page_tf_reservations_list .wp-menu-image a
img{display:none}#toplevel_page_tf_reservations_list .wp-menu-image{background:url("http://www.eduardosan.com/wp-content/themes/gadgetry-parent/css/../images/icons/reservations_menu_icon.png") no-repeat scroll 5px -16px transparent!important;height:16px !important;margin-top:8px !important;margin-left:2px}#toplevel_page_tf_reservations_list:hover  div.wp-menu-image,
#toplevel_page_tf_reservations_list.wp-has-current-submenu  div.wp-menu-image{background:url("http://www.eduardosan.com/wp-content/themes/gadgetry-parent/css/../images/icons/reservations_menu_icon.png") no-repeat scroll 5px 0 transparent!important;height:16px}#toplevel_page_tf_contact_forms_list .wp-menu-image
img{display:none}#toplevel_page_tf_reservations_list .wp-menu-image
img{display:none}#toplevel_page_tf_contact_forms_list div.wp-menu-image  img,#toplevel_page_tf_slider_list  div.wp-menu-image
img{display:none}.folded #adminmenu a.menu-top{height:0px}.folded #adminmenu a.menu-top{padding:0px
!important}
/* end of /wp-content/themes/gadgetry-parent/css/custom_admin.css */
#tfuse_newsletter_total_emails{display:none}.newsletter_service_logo{max-width:580px;padding:10px
!important;vertical-align:middle}.newsletter_service_logo
div{margin:54px
0 0 160px}.newsletter_service_logo
img{float:left}.newsletter_apikey_holder{display:none}
/* end of /wp-content/themes/gadgetry-parent/framework/extensions/newsletter/static/css/newsletter.css */
.tf_shortcode_element{float:left;width:86px;height:86px;margin:0
20px 50px 0;background:url('http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/shortcodes/static/css/../images/box_border.png') no-repeat;cursor:pointer;text-align:center}.tf_shortcode_element:hover{background-position:0 -86px}.tf_shortcode_element
h3{padding:0;margin:6px
0 0 0;font-size:15px;width:86px;overflow:hidden}.tf_shortcode_element
.description{display:none}.tf_shc_category_filter{position:absolute;left:20px}.tf_shc_name_filter{position:absolute;left:260px}.tf_shortcode_element
.shc_icon{margin:4px}#tf_shortcode_controls{height:30px;margin:-4px -15px;padding:10px
6px;background:#e5e5e5;position:relative}.tf_ctrl_button{position:absolute;top:14px}#tf_shortcode_back{left:20px}#tf_shortcode_insert{right:20px}#tf_shortcode_controls
#tf_shortcode_control_buttons{display:none}#tf_shortcode_list{margin-top:30px;overflow:auto}#tf_shortcode_options{display:none;margin-top:4px;overflow:auto}#tfuse_fields.tfuse_shortcode_page,.tfuse_fields.tfuse_shortcode_page{margin-top:2px}#tfuse_fields.tfuse_shortcode_page .titledesc, .tfuse_fields.tfuse_shortcode_page
.titledesc{width:70px;margin-top:4px;text-align:right}#tfuse_fields.tfuse_shortcode_page .option-inner, .tfuse_fields.tfuse_shortcode_page .option-inner{padding:10px
10px}#tfuse_fields.tfuse_shortcode_page .desc, .tfuse_fields.tfuse_shortcode_page
.desc{margin:4px
0 0 4px;width:266px}.tf_shortcode_preview_div{position:relative;height:238px;padding:1px
1px 1px 1px}.tf_shortcode_preview_container{float:right;width:238px;margin:0
0 0 4px}#tf_shortcode_preview_iframe{width:100%;height:100%;top:0;right:0;position:absolute;border:1px
solid #ccc;z-index:999}.tf_shortcode_options_container{margin:0
246px 0 0}.tf_shortcode_element_header{border-bottom:1px solid #E6E6E6;padding:10px
0;margin:0
0 10px 0;line-height:24px;height:40px}.tf_shortcode_element_header
h2{margin:0}.tf_shortcode_element_header
.description{color:#555;font-size:12px;font-style:normal}#qt_content_tf_qtag_add_shortcode{padding-left:22px !important;background:#eee url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png) no-repeat scroll 0 center;background-image:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),-ms-linear-gradient(bottom,#e3e3e3,#fff);background-image:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),-moz-linear-gradient(bottom,#e3e3e3,#fff);background-image:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),-o-linear-gradient(bottom,#e3e3e3,#fff);background-image:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),-webkit-linear-gradient(bottom,#e3e3e3,#fff);background-image:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png),linear-gradient(bottom,#e3e3e3,#fff)}#qt_content_tf_qtag_add_shortcode:hover{background:#DDD url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/shortcodes/static/css/../images/framework-icon-button.png) no-repeat scroll 0 center !important}.tf_shc_addable_add,.tf_shc_addable_remove{cursor:pointer}.tf_shortcode_option{width:420px}
/* end of /wp-content/themes/gadgetry-parent/framework/extensions/shortcodes/static/css/shortcodes.css */
.lb-v-dummy{width:100%;display:block;height:1px}.lb-h-dummy{height:100%;display:block;width:1px}.lb-clear{clear:both}.lb-wrap{z-index:0;overflow:auto;position:relative}.lb-v-scrollbar{z-index:1;position:absolute;right:2px;top:2px;width:7px;height:100%;background:#cfcfcf;opacity:0.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}.lb-h-scrollbar{z-index:1;position:absolute;bottom:2px;left:2px;width:100%;height:7px;background:#cfcfcf;opacity:0.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}.lb-v-scrollbar-slider{position:absolute;width:7px;height:50px;left:0;top:0;background:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}.lb-h-scrollbar-slider{position:absolute;height:7px;width:50px;left:0;top:0;background:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}
/* end of /wp-content/themes/gadgetry-parent/framework/static/css/lionbars.css */
.sidebar-name-delete{float:right}#sidebar-masks{display:none}#add_new_sidebar .sidebar-name{}#add_new_sidebar input[type=text]{width:223px;margin-bottom:4px}.input_legend{padding:4px
4px 10px 4px;margin-left:5px}#add_new_sidebar_wrapper{padding:4px}#add_new_sidebar_wrapper
*{vertical-align:top}.widget-holder-sidebar-new{border-width:0 1px 1px;border-color:#DFDFDF;border-style:solid}.sidebar_delete_button{float:right;margin-top:8px;background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/delete.png) no-repeat;width:17px;height:17px}.sidebar_box{display:none}.sidebar_placeholder{width:250px;background:#EFEFEF;border:1px
solid #CCC;min-height:40px;padding:20px
0;text-align:center;cursor:pointer;float:left;margin:0
10px 0 0}.sidebar_placeholder.active{border:3px
solid red}.add_to_placeholder{float:right;margin:8px
0 0 6px;display:none}.sidebar_placeholder_group{background:#FFF;border:1px
solid red;margin:4px
10px;padding:10px
8px;position:relative}.placeholder_name{display:inline-block;margin:-10px 0 10px 0}.sidebar_placeholder_actions{position:absolute;width:100%;height:100%;opacity:0.8;background:red;margin:0;padding:0;top:0;left:0;display:none}.explain_icons{float:right;width:440px;margin:10px
0;font-style:italic}.explain_icons
*{vertical-align:bottom}.sdb_ph_table{width:100%}.sdb_ph_table
th{text-align:left;padding:10px
14px;border-bottom:1px solid #E7E7E7}.sdb_ph_table tr
td{padding:10px
14px;border-bottom:1px solid #E7E7E7;margin:0;vertical-align:middle;position:relative}.sidebar_settings_delete{position:absolute;right:20px;cursor:pointer;display:none}.sdb_ph_table
.first_th{width:150px}#sidebar_manager_container{display:none}.multi_options{display:none}#sidebars_choose_subtype{display:none}.sidebars_choose_subtype,.sidebars_choose_multi{display:none}.sidebars_placeholder_container{display:inline-block;margin-right:10px;cursor:pointer}.sidebars_placeholder_box{padding:0;margin:0;width:206px;display:block}.sidebars_placeholder_box
li{margin:0
0 4px 0;width:198px;height:26px;padding:8px
0 0 8px;font-weight:700;color:#fff;overflow:hidden;position:relative;background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/sdb_li_bg.png) no-repeat}.sidebars_placeholder_box li
.delete{position:absolute;top:8px;right:6px;width:17px;height:17px;background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/delete.png) no-repeat}.sidebars_placeholder_top{width:234px;height:14px}.sidebars_placeholder_contents{width:206px;padding:2px
14px;min-height:200px}.sidebars_placeholder_bottom{width:234px;height:14px}.sidebars_placeholder_top.sdb_blue{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/normal_blue.png) no-repeat}.sidebars_placeholder_contents.sdb_blue{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/normal_blue_middle.png) repeat-y}.sidebars_placeholder_bottom.sdb_blue{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/normal_blue.png) no-repeat 0 -14px}.selected
.sidebars_placeholder_top.sdb_blue{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/edit_blue.png) no-repeat}.selected
.sidebars_placeholder_contents.sdb_blue{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/edit_blue_middle.png) repeat-y}.selected
.sidebars_placeholder_bottom.sdb_blue{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/edit_blue.png) no-repeat 0 -14px}.sidebars_placeholder_top.sdb_yellow{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/normal_yellow.png) no-repeat}.sidebars_placeholder_contents.sdb_yellow{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/normal_yellow_middle.png) repeat-y}.sidebars_placeholder_bottom.sdb_yellow{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/normal_yellow.png) no-repeat 0 -14px}.selected
.sidebars_placeholder_top.sdb_yellow{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/edit_yellow.png) no-repeat}.selected
.sidebars_placeholder_contents.sdb_yellow{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/edit_yellow_middle.png) repeat-y}.selected
.sidebars_placeholder_bottom.sdb_yellow{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/edit_yellow.png) no-repeat 0 -14px}.sidebars_placeholder_empty_clicked{display:none}.padd-left{padding-left:60px !important;position:relative}.corner_sdb{background:url(http://www.eduardosan.com/wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/../images/corner.png) no-repeat;width:12px;height:12px;position:absolute;left:30px}.auto_select{font-weight:700}#sidebars_cancel_changes{display:none}.sdb_box_name{width:170px;display:inline-block;white-space:nowrap;overflow:hidden}.sdb_null_class{outline:#71992C solid}#widgets-left
.sidebar_main_box{margin-top:10px !important}.sidebar_main_box
.tf_meta_tabs{max-width:none !important}.sidebar_main_box .tf_meta_tabs .ui-tabs-nav{padding:10px
6px 0 6px !important}.sidebar_main_box
.tf_meta_tabs{padding:0
0 10px 0}.sidebar_main_box
#sidebar_action_buttons{margin:10px
10px 12px 10px}#tfusetab-sidebar_new_settings,#tfusetab-sidebar_manage_settings{margin:0
6px}
/* end of /wp-content/themes/gadgetry-parent/framework/extensions/sidebars/static/css/sidebar.css */
